npm-debug.log
yarn-error.log
lerna-debug.log
node_modules
lib
esm
es6
docs/_site/
docs/.jekyll-metadata
docs/.jekyll-cache
packages/react-admin/docs
examples/**/static
examples/**/dist
cypress/videos
cypress/screenshots

#cache, log
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
.pnp
.pnp.js
.env

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

